/* GLOBAL STYLES */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Bitter';
}

a {
    text-decoration: none;
}

body {
    background: #1A1A1A;
    overflow-x: hidden;
}

.link-primary {
    background: goldenrod;
    color: brown;
    padding: .3rem .7rem;
    border-radius: 0.1rem;
    font-weight: 600;
}
