/* GLOBAL STYLES */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Bitter';
}

a {
    text-decoration: none;
}

body {
    background: #1A1A1A;
    overflow-x: hidden;
}

.link-primary {
    background: goldenrod;
    color: brown;
    padding: .5rem 1rem;
    border-radius: 0.1rem;
    font-weight: 600;
}

.link-primary:hover {
    box-shadow: 0 0 .5rem .2rem rgba(217, 165, 32, .5);
}
